      <aside>
        <header>
          <h1>{{ site.data.book.urls["/"].title }}</h1>
          <h2>{{ site.data.book.urls["/"].subtitle }}</h2>
        </header>
        <em class="version">{% assign time = site.time | split: " " %}Version: {{ time[0] | replace: "-", "." }}</em>
        <nav>
          <a href="{{ "/" | relative_url }}">Cover</a>
          <ol>
          {% for url in site.data.book.urls["/book/"].children %}
            {% assign urldata = site.data.book.urls[url] %}
            <li>
              <a href="{{ url | relative_url }}" {% if page.url == url %}class="active"{% endif %}>{{ urldata.title }}</a>
              {% if urldata.children %}
                <ol>
                {% for childurl in urldata.children%}
                  {% assign childdata = site.data.book.urls[childurl] %}
                  <li>
                    <a href="{{ childurl | relative_url }}" {% if page.url == childurl %}class="active"{% endif %}>{{ childdata.title }}</a>
                    {% if childdata.children %}
                      <ol>
                      {% for childurl in childdata.children %}
                        {% assign childdata = site.data.book.urls[childurl] %}
                        <li>
                          <a href="{{ childurl | relative_url }}" {% if page.url == childurl %}class="active"{% endif %}>{{ childdata.title }}</a>
                        </li>
                      {% endfor %}
                      </ol>
                    {% endif %}
                  </li>
                {% endfor %}
                </ol>
              {% endif %}
            </li>
          {% endfor %}
          </ol>
        </nav>
      </aside>
