<div class="toc">
{% if site.data.book.sections[page.dir] %}
{% assign section = site.data.book.sections[page.dir] %}
  <em>Chapters</em>
  <ol>
  {% for book in section.books %}
    <li>
      <a href="{{ book.book | relative_url }}">{{ site.data.book.books[book.book].title }}</a>
      <ol>
      {% for chapter in site.data.book.books[book.book].chapters %}
        <li>
          <a href="{{ chapter.file | relative_url }}">{{ chapter.title }}</a>
        </li>
      {% endfor %}
      </ol>
    </li>
  {% endfor %}
  </ol>
{% elsif site.data.book.books[page.dir] %}
  {% assign book = site.data.book.books[page.dir] %}
  <em>Topics</em>
  <ol>
  {% for chapter in book.chapters %}
    <li>
      <a href="{{ chapter.file | relative_url }}">{{ chapter.title }}</a>
    </li>
  {% endfor %}
  </ol>
{% endif %}
</div>
