p {
  margin: .5em auto;
}
p a{
  border-bottom: 1px dotted #555;
  font-style: italic;
}

table{
  border: thin #555 solid;
  border-collapse: collapse;
  color: #555;
  margin: 0 auto;
}
tr:nth-child(odd) { background-color: #eee; }
tr:nth-child(even) { background-color: #fff; }
td,th{
  border: thin #555 solid;
  padding: .25em .4em;
}
th{
  background-color: #555;
  color: white;
  font-weight: 400;
}

figure {
  margin: 2em auto;
}
figure img {
  background: #fff;
  border: thin #555 solid;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0 auto;
  padding: 5px;
  max-width: 90%;
}
figure.full-width > *{
  width: 100%;
}
figcaption {
  color: #555;
  font-style: italic;
  margin: .5em auto;
  text-align: center;
}
figcaption:before {
  counter-increment: figurenum;
  content: "Figure " counter(figurenum) ". ";
}
a.xref:after {
  content: "Figure " counter(figurenum);
}


.mycode{
  border: thin #888 solid;
  color: #000;
  white-space: no-wrap;
  overflow-x: auto;
  background: #FDF6E3;
  padding: 0.5em 1em;
  margin: 2em 0;
  font-size: .7rem;
  font-family: monospace;
  user-select: all;
} 

.title-page {
  color: #555;
}
.title-page .title{
  margin: 10em 0 0 0;
}


.toc h2{
  font-weight: 300;
  margin: 0;
}
.toc a {
  text-decoration: none;
}
.toc > ol{
 margin: .5em 0 2em 0; 
}
.toc ol{
  counter-reset: item;
}
.toc li {
  display: block;
  margin: .25em 0;
  padding-left: 2em;

}
.toc ol li:before {
  content: counters(item, ".")") ";
  counter-increment: item;
}
.toc .up-one-level{
  padding-left: 2em;
  font-style: italic;
}


ul.task-list{
  list-style: none;
}
ul.task-list input{
  margin-right: 1em;
}
