.titleHeader {
  height: 85%;
  margin-top: 15%;
  margin-left: 5%;
  position: relative;
}
.titleHeader em{
  display: block;
  color: #555;
  font-weight: 300; 
  max-width: 90%
}
.titleHeader hr{
  width: 90%;
  margin-right:10%
}
.titleHeader .title{
  font-size: 3em;
}
.titleHeader .subtitle{
  font-size: 1.75em;
}
.titleHeader .authors{
  color: #555;
  text-align: right;
  width: 90%;
  margin-right:10%
}
.titleHeader .toc{
  padding-top: 10%;
}
.titleHeader .bookVersion{
  position: absolute;
  bottom: 0;
  font: italic;
}
