<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="5; URL='{{ "/" | relative_url }}'" />
    <title>{{ site.title | escape }}</title>
    <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
  </head>

  <body>
    <header></header>
    <article>
      {% include aside.html %}
      <main id="main-content">
        <section>
          <p>The page you requested does not exist or has moved.</p>
          <p>You will be automatically redirected to the <a href="{{ "/" | relative_url }}">Book Cover</a>.</p>
        </section>
      </main>
    </article>
    {% include footer.html %}
  </body>
</html>
