<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <aside></aside>
    <article>
        {% include header.html %}
        <main id="main-content">
          <section>
            <div class="title">
              <div class="titles">
              {% if urldata.parent %}
                {% assign parentdata = site.data.book.urls[urldata.parent] %}
                <h1>{{ parentdata.title }}</h1>
                <h2>{{ urldata.title }}</h2>
              {% else %}
                <h1>{{ urldata.title }}</h1>
              {% endif %}
              </div>
            </div>
            {{ content }}
          </section>
        </main>
        {% include footer.html %}
    </article>
    <aside></aside>
  </body>
</html>
