<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <header>
      <span><a href="#page-header">Top of Page</a></span>
      <span><a href="#" onclick="window.print();">Print</a></span>
    </header>
    <article>
      {% include aside.html %}
      <main id="main-content">
        <header id="page-header">{% assign urldata = site.data.book.urls[page.url] %}
          <div class="titles">
              {% if urldata.parent %}{% assign parentdata = site.data.book.urls[urldata.parent] %}
                <h1>{{ parentdata.title }}</h1>
                <h2>{{ urldata.title }}</h2>
              {% else %}
                <h1>{{ urldata.title }}</h1>
              {% endif %}
              </div>
          <div class="authors">
          {% for author in urldata.authors %}<p>{{ author }}</p>{% endfor %}
          </div>
        </header>
        {{ content }}
      </main>
    </article>
    {% include footer.html %}
  </body>
</html>
