<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}
    
    <article>
        <aside></aside>
        <main id="main-content">
          <section>
            <div class="title">
              <div class="titles">
              {% if urldata.parent %}
                {% assign parentdata = site.data.book.urls[urldata.parent] %}
                <h1>{{ parentdata.title }}</h1>
                <h2>{{ urldata.title }}</h2>
              {% else %}
                <h1>{{ urldata.title }}</h1>
              {% endif %}
              </div>
            </div>
            {{ content }}
          </section>
        </main>
        <aside></aside>
    </article>
    {% include footer.html %}
  </body>
</html>
