<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% if site.data.book.books[page.dir] %}
      {% assign item = site.data.book.books[page.dir] %}
      {% assign chapter = item.chapters[0] %}
    {% elsif site.data.book.sections[page.dir] %}
      {% assign item = site.data.book.sections[page.dir] %}
    {% endif %}
    <header>
      <span><a href="/">Home</a></span>
      <span>{{ site.title }}</span>
      <span><a href="/book/">Contents</a></span>
    </header>
    
    <article>
        <aside></aside>
        <section>
          <div class="titleHeader">
            <em class="title">{{ item.title }}</em>
            {% if item.subtitle %}<em class="subtitle">{{ item.subtitle }}</em>{% endif %}
            <hr>
            {% if item.authors %}
              <p class="authors">
              {% for author in item.authors %}
                {{ author }}<br>
              {% endfor %}
              </p>
            {% endif %}
            {{ content }}
          </div>
        </section>
        <aside></aside>
    </article>
    
    <footer>
      <span>&nbsp;</span>
      <span><a href="../">Up</a></span>
      <span>{% if chapter %}<a href="{{ chapter.file }}">{{ chapter.title }} &raquo;</a>{% endif %}</span>
    </footer>
    
  </body>
</html>
