---
layout: default
---

<div class="toc">
  <em>Table of Contents</em>
  <ul>
  {% for item in site.data.book.contents %}
    <li>
      {% if item.title %}{% assign title = item.title %}{% else %}{% assign title = site.data.book.pages[item.href].title %}{% endif %}
      <a href="{{ item.href | relative_url }}">{{ title }}</a>
      {% if item.pages %}
      <ol>
      {% for filename in item.pages%}
        {% assign page = site.data.book.pages[filename] %}
        <li>
          <a href="{{ filename | relative_url }}">{{ page.title }}</a>
          <ol>
          {% for section in page.sections %}
            <li>
              <a href="{{ filename | append: '#' | append: section.id  | relative_url }}">{{ section.title }}</a>
            </li>
          {% endfor %}
          </ol>
        </li>
      {% endfor %}
      </ol>
      {% else %}
        {% assign page = site.data.book.pages[item.href] %}
        <ol>
        {% for section in page.sections %}
          <li>
            <a href="{{ item.href | append: '#' | append: section.id  | relative_url }}">{{ section.title }}</a>
          </li>
        {% endfor %}
        </ol>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>

