---
layout: default
---

<div class="toc">
  <em>Table of Contents</em>
  <ul>
  {% for item in site.data.book.toc %}
    <li>
      {% if item.section %}
        {% assign section = site.data.book.sections[item.section] %}
        <a href="{{ item.section }}">{{ section.title }}</a>
        <ol>
        {% for book in section.books%}
          <li>
            <a href="{{ book.book }}">{{ site.data.book.books[book.book].title }}</a>
            <ol>
            {% for chapter in site.data.book.books[book.book].chapters %}
              <li>
                <a href="{{ chapter.file }}">{{ chapter.title }}</a>
              </li>
            {% endfor %}
            </ol>
          </li>
        {% endfor %}
        </ol>
      {% else %}
        {% assign book = site.data.book.books[item.book] %}
        <a href="{{ item.book }}">{{ book.title }}</a>
        <ol>
        {% for chapter in book.chapters %}
          <li>
            <a href="{{ chapter.file }}">{{ chapter.title }}</a>
          </li>
        {% endfor %}
        </ol>
        
        
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>

